/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* End of basic styling */

body {
  height: 100vh;

  padding: 16px 32px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

div.header {
  align-self: start;
  color: black;
}

div.gameboard {
  /* height: 300px;
  width: 300px; */

  /* flex: 1; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

fieldset.control {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 16px;

  padding: 32px;

  /* background-color: grey; */
  border: none;
  border-radius: 8px;
}

button.tile {
  height: 100px;
  background-color:blanchedalmond;
  border: 1px solid black;
  border-radius: 8px;
}

.options {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 40%;
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nameInputs {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.nameInputs > div {
  flex: 0;
}

.getName {
  padding: 2px 8px;
  border: 1px solid black;
  outline: none;
}

.getName:focus {
  border: 1px solid darkgrey;
  outline: none;
}

.startGame {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  background-color: white;
  color: black
}

.startGame:hover {
  background-color: whitesmoke;
}

.startGame:active {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.invisible {
  display: none;
}